/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/image_background.jpg");
  /* background-image: url("https://images.wallpapersden.com/image/download/blue-abstract-shape-neon-lines_bGVpamiUmZqaraWkpJRnZWltrWZmamc.jpg"); */
}

/* .photo_container {} */

.container {
  position:relative;
  width:840px;
  background: #fff;
  border-radius: 30px;
  border: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.535);
  overflow: hidden;
  padding: 10px;
}

.input-field button{
    right: 20px;
    bottom: 20px;
    position: relative;
}

.input-field button:hover{
filter: brightness(45%);
}

.logout{
  width: 6em;
  border: 2px solid black;
  background: #ffe;
  border-radius: 5px;
}

.logout:hover{
  filter: brightness(90%);
}

.container .forms {
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}

.button{
  width: 6em;
  border: 2px solid black;
  background: #ffe;
  border-radius: 5px;
}

.a {
  display: block;
  width: 100%;
  line-height: center;
  text-decoration: none;
  border-radius: 5px;
}

.a:hover{
  filter: brightness(80%);
}

.container .form {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container .form .title {
  display: table;
  margin: 0 auto;
  position: relative;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  vertical-align: center;
  text-decoration: underline;
}

.form .title::before {
  content: "";
  position: relative;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}

.form .text {
  color: #333;
  font-size: 14px;
}

.form .invalid {
  color: red;
  font-size: 14px;
}

.form a.text {
  color: #4070f4;
}
